{% extends "base.html.twig" %}
{% block title 'Home'%}
{% block body %}
<section class="container-fluid col-xs-12 p-0">
    <div class="bghome">
        <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
            <h1> Snowtricks</h1>
            <h2 class="container text-center">
                Welcome to Snowtricks !
            </h2>
        </div>
    </div>
    <div class="col-lg-12" style="margin-bottom: 10px;">
        <a class="btn text-uppercase float-right mt-n" href="#portfolio">
            <img src="{{ asset('icons/arrow-down.svg') }}" class="icon-top">
        </a>
    </div>
</section>

<div class="text-center">
    {% for category in categories %}
        <a href="{{ path("home.search", {category: category.name}) }}"
            {% if category.name == ("Grab") %}
                class= "badge badge-primary py-2 px-2 mx-2 mt-2">
            {% elseif category.name == ("Rotate") %}
                    class= "badge badge-info py-2 px-2 mx-2 mt-2">
            {% elseif category.name == ("Slide") %}
                    class= "badge badge-danger py-2 px-2 mx-2 mt-2">
            {% elseif category.name == ("Flip") %}
                class= "badge badge-secondary py-2 px-2 mx-2 mt-2">
            {% else %}
                class= "badge badge-warning py-2 px-2 mx-2 mt-2">
            {% endif %}
            {{ category.name }}
        </a>
    {% endfor %}
</div><hr/>

<section id="portfolio">
    <div class="container mt-4">
        <h2>Last Tricks</h2>
        <div class="row flex" id="snowtricks">
            {{ include('loadmore/snowtrick.html.twig')}}
        </div>
        <div>
            <a id="loadMore" class="mb-10">
                <button class="btn btn-primary">Load more</button>
            </a>
            <a id="up" class="btn text-uppercase float-right mt-n fixed-bottom" href="#portfolio">
                <img src="{{ asset('icons/arrow-up.svg') }}" class="icon-bot">
            </a>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts %}
    <script>
        click = 1;
        $("#up").hide();
        function loadMore(event) {
            event.preventDefault();
            click++;
            const url = "{{ path('loadmore') }}";

            axios.get(url, {
                params: {
                    page:click
                }
            }
            ).then(function (response) {
                $("#snowtricks").append(response.data);
                if (click >= 2) {
                    $("#up").show();
                }
            });
        }
        document.getElementById('loadMore').addEventListener('click', loadMore);

        $('#up').click(function(e) {
            $("#up").hide();
        })
    </script>
{% endblock %}