{% extends "base.html.twig" %}
{% block title snowtrick.title %}
{% block body %}
    <div class="jumbotron">
        <div class="container mt-4">
                <img src="{{ asset(snowtrick.files[0].path) }}">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <h1>{{ snowtrick.title }}</h1>
                    <h2>by {{ snowtrick.author.username }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="text-justify">
            <div class="md-4">
                <p>{{ snowtrick.description }}</p>
            </div>
        </div>
    </div>
    <div class="container mb-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {{ include('snowtricks/_form.html.twig') }}
    </div>
    {% for comment in comments %}
        <div class="col-xs-12 col-md-8 col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            <p>{{ comment.author.username }}</p>
                        </h5>
                        <p class="text-primary"> {{ comment.content }}</p>
                    </div>
                </div>
            </div>
    {% endfor %}
{% endblock %}