{% extends "base.html.twig" %}
{% block title snowtrick.title %}
{% block body %}
    <div class="jumbotron">
        <div class="text-center">
            <h1>{{ snowtrick.title }}</h1>
            <h2>by {{ snowtrick.author.username }}</h2>
        </div>
        <div class="container mt-4">
            {% if snowtrick.mainpicture != NULL %}
                <img src="{{ asset(snowtrick.mainpicture.path) }}" class="rounded" style="max-width: 100%;">
            {% endif %}
        </div>
    </div>
    <div class="container mt-4">
        <div class="text-justify">
            <div class="md-4">
                <p>{{ snowtrick.description }}</p>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="text-center">
            <button href="#collapseShow" data-toggle="collapse" class="btn btn-secondary">
                Show/hide medias
            </button>
        </div>
        <div class="collapse mt-4" id="collapseShow" style="overflow-x: scroll; white-space: nowrap;">
            {% for picture in snowtrick.pictures %}
                <div class="ib">
                    <form class="picture" action="{{ path('member.picture.delete', {id: picture.id} ) }}" class="d-inline-block">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~ picture.id) }}">
                        <button type="submit" class="btn btn-danger deletemedia">Delete</button>
                    </form>
                    <img src="{{ asset(picture.path) }}" class="rounded" style="max-width: 100%;">
                </div>
            {% endfor %}
            {% for video in snowtrick.videos %}
                <div class="ib">
                    <form class="video" action="{{ path('member.video.delete', {id: video.id} ) }}" class="d-inline-block">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~ video.id) }}">
                        <button type="submit" class="btn btn-danger deletemedia">Delete</button>
                    </form>
                    <iframe width="560" height="315" src="{{ video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container mb-4 mt-4">
        {{ include('snowtricks/_form.html.twig') }}
    </div>
    <div class="container mb-4 mt-4">
        {% for comment in comments %}
            <div class="col-xs-12 col-md-8 col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <p>{{ comment.author.username }}</p>
                            </h5>
                            <p class="text-primary"> {{ comment.content }}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/delete-picture.js') }}"></script>
    <script src="{{ asset('js/delete-video.js') }}"></script>
{% endblock %}
