{% extends "base.html.twig" %}
{% block title snowtrick.title %}
{% block body %}
    <div class="jumbotron">
        <div class="text-center">
            <h1>{{ snowtrick.title }}</h1>
            <h2>by {{ snowtrick.author.username }}</h2>
        </div>
        <div class="container mt-4">
            {% if snowtrick.mainpicture != NULL %}
                <img src="{{ asset(snowtrick.mainpicture.path) }}" class="rounded" style="max-width: 100%;">
            {% endif %}
        </div>
    </div>
    <div class="container mt-4">
        <div class="text-justify">
            <div class="md-4">
                <p>{{ snowtrick.description }}</p>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="text-center">
            <button href="#collapseShow" data-toggle="collapse" class="btn btn-secondary">
                Show/hide medias
            </button>
        </div>
        <div class="collapse mt-4" id="collapseShow" style="overflow-x: scroll; white-space: nowrap;">
            {% for picture in snowtrick.pictures %}
                    <img src="{{ asset(picture.path) }}" class="rounded" style="max-width: 100%;">
            {% endfor %}
            {% for video in snowtrick.videos %}
                <div>
                    <iframe width="560" height="315" src="{{ video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <form class="video" action="{{ path('member.video.delete', {id: video.id} ) }}" class="d-inline-block">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~ video.id) }}">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container mb-4 mt-4">
        {{ include('snowtricks/_form.html.twig') }}
    </div>
    <div class="container mb-4 mt-4">
        {% for comment in comments %}
            <div class="col-xs-12 col-md-8 col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <p>{{ comment.author.username }}</p>
                            </h5>
                            <p class="text-primary"> {{ comment.content }}</p>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>

    function deleteVideo(event) {
        event.preventDefault();
        const that = this;
        const url = this.action;
        let token = this.querySelector('input[name="_token"]');
        if (confirm('confirm delete action ?')) {
            axios.post(url, {
                token: token.value
            }).then( function (response) {
                console.log(response);
                if (response.status === 204) {
                    that.parentNode.remove();

                } else {

                }
            });

        };
    }

    document.querySelectorAll('form.video').forEach( function(form) {
        form.addEventListener('submit', deleteVideo);
    })
    </script>
{% endblock %}
