{% extends "base.html.twig" %}
{% block title snowtrick.title %}
{% block body %}
    <div class="jumbotron">
        <div class="container mt-4">
            {% if snowtrick.files is defined %}
                <img src="{{ asset(snowtrick.files[0].path) }}" class="rounded" style="max-width: 100%;">
            {% endif %}
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                    <h1>{{ snowtrick.title }}</h1>
                    <h2>by {{ snowtrick.author.username }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="text-justify">
            <div class="md-4">
                <p>{{ snowtrick.description }}</p>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="text-center">
            <button href="#collapseShow" data-toggle="collapse" class="btn btn-secondary">
                Show/hide medias
            </button>
        </div>
        <div class="collapse mt-4" id="collapseShow" style="overflow-x: scroll; white-space: nowrap;">
            {% for key in snowtrick.files|keys|slice(1) %}
                    <img src="{{ asset(snowtrick.files[key].path) }}" class="rounded" style="max-width: 100%;">
                    {# <video src="{{ asset(snowtrick.files[key].path) }}" controls> #}
            {% endfor %}
        </div>
    </div>
    <div class="container mb-4 mt-4">
        {{ include('snowtricks/_form.html.twig') }}
    </div>
    {% for comment in comments %}
        <div class="col-xs-12 col-md-8 col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            <p>{{ comment.author.username }}</p>
                        </h5>
                        <p class="text-primary"> {{ comment.content }}</p>
                    </div>
                </div>
            </div>
    {% endfor %}
{% endblock %}