{% extends "base.html.twig" %}
{% block title 'Home'%}
{% block body %}
<div class="container mt-4">
    <h1>Tricks manager</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for snowtrick in snowtricks %}
        <tr>
            <td>{{ snowtrick.title }}</td>
            <td>
                <a href="{{ path('admin.snowtrick.edit', {id: snowtrick.id}) }}" class="btn btn-secondary">Edit</a>
                <form method="post" action="{{ path('admin.snowtrick.delete', {id: snowtrick.id}) }}" class="d-inline-block" onsubmit="return confirm('Confirm delete action ?')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete'~ snowtrick.id) }}">
                <button class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-right">
    <a href="{{ path('admin.snowtrick.new') }}" class="btn btn-primary">Post a new trick</a>
    </div>
</div>
{% endblock %}