{% extends "base.html.twig" %}
{% block title 'AdminTricks'%}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Tricks manager</h1>
    </div>
    <div class="container mt-4">
        <table class="table table-striped" style="table-layout:fixed">
            <thead>
            <tr>
                <th>Waiting for validation</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for snowtrickToValidate in snowtricksToValidate %}
            <tr>
                <td>{{ snowtrickToValidate.title }}</td>
                <td>
                    <button type="button" id="test" class="btn btn-secondary modal-trigger-edit" data-toggle="modal" data-target="{{ path('member.snowtrick.edit', {id: snowtrickToValidate.id}) }}">Edit/Validation</button>
                    <form method="post" action="{{ path('member.snowtrick.delete', {id: snowtrickToValidate.id}) }}" class="d-inline-block">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~ snowtrickToValidate.id) }}">
                    <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table table-striped" style="table-layout:fixed">
            <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for snowtrick in snowtricks %}
            <tr>
                <td>{{ snowtrick.title }}</td>
                <td>
                    <button type="button" id="test" class="btn btn-secondary modal-trigger-editS" data-toggle="modal" data-target="{{ path('member.snowtrick.edit', {id: snowtrick.id}) }}">Edit/Validation</button>
                    <form class="d-inline-block snowtrick" action="{{ path('member.snowtrick.delete', {id: snowtrick.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~ snowtrick.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
      <div class="text-right">
            <button type="button" class="btn btn-primary modal-trigger-newS" data-toggle="modal" data-target="{{ path('member.snowtrick.new') }}">Post a new trick</button>
        </div>
    </div>

    {{ include('modal/newsnowtrick.html.twig') }}
    {{ include('modal/editsnowtrick.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/trigger-modal.js') }}"></script>
    <script src="{{ asset('js/delete-snowtrick.js') }}"></script>
{% endblock %}