{% if snowtrick is not defined %}
    {{ form_start(form, {
        'attr':{
            'action': path(path),
            'id' : 'form-data'
        }
        }) }}
{% else %}
    {{ form_start(form, {
        'attr':{
            'action' : path(path, {id: snowtrick.id}),
            'id' : 'form-data'
    } 
    }) }}
{% endif %}
{{ form_errors(form) }}
{{ form_row(form.title) }}
{{ form_row(form.description) }}
{{ form_row(form.categories) }}
    <p>Videos (Other than youtube links will be ignored)</p>
    <ul id="videos-fields-list"
        data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.videos|length }}">
    {% for textField in form.videos %}
        <li>
            {{ form_errors(textField) }}
            {{ form_widget(textField) }}
        </li>
    {% endfor %}
    </ul>

    <button type="button"
        class="add-another-collection-widget btn btn-secondary mb-4"
        data-list-selector="#videos-fields-list">Add a Youtube url</button>
{{ form_row(form.mainpicture) }}
{{ form_row(form.pictures) }}
{% if is_granted('ROLE_ADMIN') %}
    {{ form_row(form.validated) }}
{% endif %}
{{ form_row(form._token) }}
    <button class="btn btn-primary" id="add-data">{{ button|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }}
{% block javascripts %}
    <script src="{{ asset('js/add-collection-widget.js') }}"></script>
{% endblock %}