{% extends "base.html.twig" %}
{% block title 'AdminTricks'%}
{% block body %}
    <div class="jumbotron text-center">
        <h1>My tricks</h1>
    </div>
    <div class="container mt-4">
        <table class="table table-striped" style="table-layout:fixed">
            <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for snowtrick in snowtricks %}
            <tr>
                <td>{{ snowtrick.title }}</td>
                <td>
                    <a href="{{ path('member.snowtrick.edit', {id: snowtrick.id}) }}" class="btn btn-secondary">Edit</a>
                    <form class="d-inline-block snowtrick" action="{{ path('member.snowtrick.delete', {id: snowtrick.id}) }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~ snowtrick.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
                <td>
                    {% if snowtrick.validated %}
                        Validated
                    {% else %}
                        Pending
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <button type="button" class="btn btn-primary modal-trigger" data-toggle="modal" data-target="{{ path('member.snowtrick.new') }}">Post a new trick</button>
        </div>
    </div>

    {{ include('modal/newsnowtrick.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/trigger-modal.js') }}"></script>
    <script src="{{ asset('js/delete-snowtrick.js') }}"></script>
{% endblock %}