{% extends "base.html.twig" %}
{% block title snowtrick.title %}
{% block body %}
    <div class="jumbotron" id="snowtrick">
        <div class="text-center">
            <h1 class="title">{{ snowtrick.title }}</h1>
        </div>
        <div class="container mt-4 mainpicture-show">
            {% if snowtrick.getMainPicture != NULL %}
                <div class="ib">
                    {% if app.user.username is defined %}
                        {% if is_granted('ROLE_ADMIN') or snowtrick.author is same as (app.user.username) %}
                            <div class="dropdown dropleft float-right">
                                <button  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ asset('icons/dots.svg') }}" height="15px" class="mx-auto mb-1">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <form class="picture" action="{{ path('mainpicture.delete', {id: snowtrick.mainpicture.id} ) }}" class="d-inline-block">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~ snowtrick.mainpicture.id) }}">
                                        <button type="submit" class="dropdown-item">Delete</button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                <img src="{{ asset(snowtrick.mainpicture.path) }}" class="rounded mx-auto d-block main" style="max-width: 100%;">
                </div>
            {% endif %}
        </div>
        <div class="signature">
            <h3 class="float-right">by {{ snowtrick.author.username }}</h3>
        </div>
    </div>
    <div class="container mt-4">
        <div class="text-justify">
            <div class="md-4">
                <p>{{ snowtrick.description }}</p>
            </div>
            <div>
            {% for category in snowtrick.categories %}
                <a href="{{ path("home.search", {category: category.name}) }}"
                    {% if category.name == ("Grab") %}
                        class= "badge badge-primary">
                    {% elseif category.name == ("Rotate") %}
                            class= "badge badge-info">
                    {% elseif category.name == ("Slide") %}
                            class= "badge badge-danger">
                    {% elseif category.name == ("Flip") %}
                        class= "badge badge-secondary">
                    {% else %}
                        class= "badge badge-warning">
                    {% endif %}
                    {{ category.name }}
                </a>
            {% endfor %}
            </div>
            <div class="text-right">
                Posted: {{ snowtrick.createdAt|date("d/m/Y \\a\\t H:i:s", false) }}</br>
                {{ snowtrick.updatedAt is empty ? "" : snowtrick.updatedAt|date(" \\U\\p\\d\\a\\t\\e\\d: d/m/Y \\a\\t H:i:s", false) }}
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="text-center">
            <button href="#collapseShow" data-toggle="collapse" class="btn btn-secondary">
                Show/hide medias
            </button>
        </div>
        <div class="collapse mt-4" id="collapseShow" style="overflow-x: scroll; white-space: nowrap;">
            {% for picture in snowtrick.getMediaPictures %}
                <div class="ib">
                    {% if app.user.username is defined %}
                        {% if is_granted('ROLE_ADMIN') or snowtrick.author is same as (app.user.username) %}
                            <div class="dropdown dropleft float-right">
                                <button  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{{ asset('icons/dots.svg') }}" height="15px" class="mx-auto mb-1">
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <form class="picture" action="{{ path('picture.delete', {id: picture.id} ) }}" class="d-inline-block">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~ picture.id) }}">
                                        <button type="submit" class="dropdown-item">Delete</button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    <img src="{{ asset(picture.path) }}" class="rounded" style="max-width: 100%;">
                </div>
            {% endfor %}
            {% for video in snowtrick.videos %}
                <div class="ib">
                    {% if not app.request.XmlhttpRequest %}
                        {% if app.user.username is defined %}
                            {% if is_granted('ROLE_ADMIN') or snowtrick.author is same as (app.user.username) %}
                                <div class="dropdown dropleft float-right fixed">
                                    <button  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="{{ asset('icons/dots.svg') }}" height="15px" class="mx-auto mb-1">
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <form class="video" action="{{ path('video.delete', {id: video.id} ) }}" class="d-inline-block">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete'~ video.id) }}">
                                            <button type="submit" class="dropdown-item">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <iframe width="560" height="315" src="{{ video.url }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if not app.request.XmlhttpRequest %}
        {% if app.user.username is defined %}
            <div class="container mb-4 mt-4">
                {{ include('member/comments/_form.html.twig') }}
            </div>
        {% else %}
            <div class="container mb-4 mt-4 not-connected-comment">
                <a href={{ path("login") }}>Log in</a> or <a href={{ path("signup") }}>Sign up</a> to leave a comment !
            </div>
        {% endif %}
    {% endif %}
        <div class="container mb-4 mt-4">
            <div id="comments">
                {% include 'loadmore/comments.html.twig' %}
            </div>
            <div>
                <a id="loadMore" class="mb-10">
                    <button class="btn btn-primary">Load more</button>
                </a>
                <a id="up" class="btn text-uppercase float-right mt-n fixed-bottom" href="#snowtrick">
                    <img src="{{ asset('icons/arrow-up.svg') }}" class="icon-bot">
                </a>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/delete-picture.js') }}"></script>
    <script src="{{ asset('js/delete-video.js') }}"></script>
    <script src="{{ asset('js/delete-comment.js') }}"></script>
    <script src="{{ asset('js/add-comment.js') }}"></script>
    <script>
        click = 1;
        $("#up").hide();
        function loadMore(event) {
            event.preventDefault();
            click++;
            const url = "{{ path('comment.loadmore') }}";

            axios.get(url, {
                params: {
                    page:click
                }
            }
            ).then(function (response) {
                $("#comments").append(response.data);
                if (click >= 2) {
                    $("#up").show();
                }
            });
        }
        document.getElementById('loadMore').addEventListener('click', loadMore);

        $('#up').click(function(e) {
            $("#up").hide();
        })
    </script>
{% endblock %}
