{% if category is not defined %}
    {{ form_start(form, {
        'attr':{
            'action': path(path),
            'id': 'form-data',
            'novalidate': 'novalidate'
        }
    }) }}
{% else %}
    {{ form_start(form, {
        'attr':{
            'action' : path(path, {id: category.id}),
            'id' : 'form-data'
        } 
    }) }}
{% endif %}
{{ form_row(form.name) }}
<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
