<div class="col-xs-12 col-md-8 col-lg-6">
    <div class="card mb-4">
        <div class="card-body">
            {% if is_granted('ROLE_ADMIN') or acomment.author.username is same as (app.user.username) %}
                <div class="dropdown dropleft float-right mr-4">
                    <button  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ asset('icons/dots.svg') }}" height="15px" class="mx-auto mb-1">
                    </button>
                    <div class="dropdown-menu btn-danger" aria-labelledby="dropdownMenuButton">
                        <form class="comment" action="{{ path('comment.delete', {id: acomment.id} ) }}" class="d-inline-block">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete'~ acomment.id) }}">
                                <button type="submit" class="dropdown-item">Delete</button>
                        </form>
                    </div>
                </div>
            {% endif %}
            <h5 class="card-title">
                {{ acomment.author.username }}
            </h5>
            <p> {{ acomment.content }}</p>
            <p class="date-comment">{{ acomment.createdAt|date("d/m/Y \\a\\t H:i:s", false) }}</p>
        </div>
    </div>
</div>