<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" content='initial-scale=1.0, width=device-width' name='viewport'>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('home') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if app.user == false %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}">Log in</a>
                    </li>  
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}" href="{{ path('admin.snowtrick.index') }}">TricksManager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin.category.index') }}">CategoryManager</a>
                    </li>  
                {% endif %}
                {% if is_granted('ROLE_MEMBER') or is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('member.snowtrick.index') }}">MyTricks</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('signup') }}">Sign up</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        </nav>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="border d-block d-sm-none fixed-bottom">
                <div class="container mt-10">
                    <div class="row">
                        <div class="col-6 mb-2">
                            <a class="float-left" href="{{ path('home') }}">
                                <img src="{{ asset('icons/home.svg') }}" height="25px">
                            </a>
                        </div>
                        {% if not app.user %}
                        <div class="col-6 mb-2">
                            <a class="float-right" href="{{ path('login') }}">
                                <img src="{{ asset('icons/login.svg') }}" height="25px">
                            </a>
                        </div>
                        {% else %}
                        <div class="col-6 mb-2">
                            <a class="float-right" href="{{ path('logout') }}">
                                <img src="{{ asset('icons/logout.svg') }}" height="25px">
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
