{% extends 'base.html.twig' %}

{% block title 'My account' %}

{% block body %}    
    <div class="jumbotron text-center">
        <h1>My account</h1>
    </div>
    <div class="container justify-content-center pt-4">
        <div class="container d-flex justify-content-center">
            {% if user.picture is not null %}
                <img src="{{ asset(user.picture.path) }}" class="profile-icon mx-5 mt-3"></img>
            {% else %}
                <img src="{{ asset("icons/user.jpg") }}" class="profile-icon mx-5 mt-3"></img>
            {% endif %}
            <div>
                {{ include('member/profile/_form_picture.html.twig', {form: form, button: 'Edit'}) }}
                {% if user.picture is not null %}
                    <form class="d-inline-block mt-1" action="{{ path('userpicture.delete', {id: user.picture.id}) }}" onsubmit="">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete'~ user.picture.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="container mt-5 d-flex justify-content-center">
            {{ include('member/profile/_form_password.html.twig', {form: form, button: 'Edit'}) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/trigger-modal.js') }}"></script>
{% endblock %}